/* Custom slider styles */
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: 0;
    height: 18px;
    border-radius: 40px;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-image: radial-gradient(circle, #f7f7fc 40%, #ff9800 45%);
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb {
    width: 24px;
    height: 24px;
    background-image: radial-gradient(circle, #f7f7fc 40%, #ff9800 45%);
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
  